<?xml version="1.0" encoding="utf-8"?>

<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  "http://go.microsoft.com/fwlink/?LinkId=169433"
  -->

<configuration>
  <connectionStrings>
    <add name="MySqlConnectionString" connectionString="Data Source=\\.\pipe\MSSQL$SQLEXPRESS\sql\query;Initial Catalog=PassKeeper;User Id=IIS_DB_USER; password=supermann" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <membership defaultProvider="MyMembershipprovider" userIsOnlineTimeWindow="20">
        <providers>
          <add name="MyMembershipprovider" type="MyMembershipprovider"/>
        </providers>
      </membership>
        
      <authentication mode="Forms">
        <forms cookieless="AutoDetect" protection="All" slidingExpiration="true"
                defaultUrl="~/Login.aspx" loginUrl="~/Login.aspx" />
      </authentication>
    </system.web>

</configuration>
